/* Stilbeskrivning för "Redovisa-sidan"
Britt Hallin
2019-02-03
*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Barlow+Semi+Condensed|BenchNine|Caveat|Coming+Soon|Didact+Gothic|Gafata|Give+You+Glory|Imprima|Itim|Josefin+Slab|Neucha|Roboto+Condensed|Roboto+Slab|Saira+Condensed|Text+Me+One|Waiting+for+the+Sunrise');

html {
    background: #57694d; /* #9e3449; */
    background-size: cover;
    height: 100%;
    overflow: auto;
    color: #b4bfb6;
}

body {
    margin: 8px auto;
    font-size: 1.5em;
    background-image: url(img/Mora_vapen.svg);
    background-size: cover;
    width: 1200px;
}

header {
    width: 1200px;
}

nav {
    width: 1200px;
}

.rubrikrad {
    background: #7e3444;
}

#kmom01 {
    width: 100%;
    font-family: 'Gafata', sans-serif;
    font-size: 0.8em;
    color: #57694d;
    background-color: #b4bfb6;
    padding: 1em;
}

img.hund {
    width: 2.6em;
    transform: rotate(90deg);
}

#imgKmom01 {
    width: 30em;
    float: right;
}


h1,
h2 {
    font-family: 'Roboto Condensed', 'Didact Gothic', sans-serif;
    font-size: 1.01em;
}

h3 {
    font-family: 'Coming Soon', 'Didact Gothic', sans-serif;
}

h4 {
    font-family: 'Coming Soon', 'Didact Gothic', sans-serif;
    font-size: 1.2em;
}

a {
    color: cornflowerblue;
    font-family: 'Waiting for the Sunrise', cursive;
}

a:hover {
    color: goldenrod;
    text-shadow: 1px 2px 3px cornflowerblue;
}

#message {
    font-family: 'Waiting for the Sunrise', cursive;
    color: cornflowerblue;
    background-color: gold;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Neucha', cursive;
font-family: 'Text Me One', sans-serif;
font-family: 'Coming Soon', cursive;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Itim', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Waiting for the Sunrise', cursive;
font-family: 'Gafata', sans-serif;
font-family: 'Imprima', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
*/
